@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .animation-delay-0{
    animation-delay: 0;
    animation-fill-mode: backwards;
  }

  .animation-delay-500{
    animation-delay: 500ms;
    animation-fill-mode: backwards;
  }

  .animation-delay-1000{
    animation-delay: 1000ms;
    animation-fill-mode: backwards;
  }

  .animation-delay-2000{
    animation-delay: 2000ms;
    animation-fill-mode: backwards;
  }
 
}

*{
    position: relative;
}


.fade-enter-active,
.fade-leave-active {
    transition: all 0.4s;
}

.fade-enter,
.fade-leave-to

  {
    opacity: 0;
    filter: blur(1rem);
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}